<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <title>Medicines</title>
</head>

<body>
{%for med in data%}
<table>
    <tr>
        {{med[0]}},
        {{med[1]}},
        {{med[2]}},
        {{med[3]}}
    </tr>
</table>
{%endfor%}

{%if YourName != None%}
Hello, {{name}}
{%endif%}

<form action="/find/">
    <input type="submit" value="Искать лекарства">
</form>

<form id="form2" action="/regestration/">
    <input type="submit" value="Зарегестрироваться">
</form>

</body>

</html>