<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicines</title>
</head>
<body>

<h1>ФОРМА ДЛЯ ЗАПОЛНЕНИЯ</h1>
<form action="/">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name">
    <label for="age">Ваш возраст:</label>
    <input type="int" id="age" age="age">
    <fieldset>
        <legend>Какие лекарства вам нужны?</legend>
        <input type="checkbox" id="med1" name="med1" value="Твёрдые">
        <label for="med1">Твёрдые</label><br>
        <input type="checkbox" id="med2" name="med2" value="Жидкие">
        <label for="med2">Жидкие</label><br>
        <input type="checkbox" id="med3" name="med3" value="Мягкие">
        <label for="med1">Мягкие</label><br>
        <input type="checkbox" id="med4" name="med4" value="Капсульные">
        <label for="med2">Капсульные</label><br>
    </fieldset>
    <input type="submit" value="Найти">
</form>

</body>

</html>