#form2 {position: relative; top:-21px; left:70px; }
b {position: relative; top:-40px; left:1700px; font-size: 25px}
#Dobro {position: relative; top:-500px; left:-200px;}
#postpost {position: relative; top:-400px; left:-455px;}
#autoo {position: relative; top:-700px; left:850px;}
#mess {position: relative; top:-640px; left:1530px;}